<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="public/styles/login.css" />
    <link rel="stylesheet" href="public/fontawesome/css/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-container">
      <div class="logo-container">
        <div class="logo">
          <img src="/public/images/logo_fixup.svg" alt="logo" />
        </div>
        <div class="line"></div>
      </div>

      <div class="form-container">
        <h2>Zaloguj się</h2>

        <form action="">
          <label for="email">Email/Nazwa użytkownika</label>
          <input
            type="email"
            id="email"
            placeholder="Email/Nazwa użytkownika"
            required
          />

          <label for="password">Hasło</label>
          <div class="password-wrapper">
            <input type="password" id="password" placeholder="Hasło" required />
            <div class="eye-icon">
              <i class="fa-regular fa-eye"></i>

              <i class="fa-regular fa-eye-slash"></i>
            </div>
          </div>

          <button type="submit">Zaloguj się</button>
        </form>

        <div class="footer-options">
          <a href="#">Nie pamiętasz hasła?</a>
          <div>
            <span>Nie masz konta?</span>
            <a href="#">Zarejestruj się</a>
          </div>
        </div>
      </div>
    </div>

    <script src="public/scripts/login.js"></script>
  </body>
</html>
