@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Work Sans", sans-serif;
  color: #111618;
}

input,
button,
select,
textarea {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.btn.primary {
  background: #6bb1ad;
  color: white;
}

.btn.ghost {
  background: transparent;
}

.btn.white {
  background: white;
  color: #ff8a65;
}
